In [1]:
import numpy as np
import pandas as pd
import sys
sys.version

'3.5.2 |Anaconda 4.1.1 (x86_64)| (default, Jul  2 2016, 17:52:12) \n[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]'

In [3]:
### review the 1990 file

with open('1990_apportionment_raw.csv', 'r') as f:
    w = 0
    for line in f.readlines():
        print(w, line)
        w +=1

0 ﻿Table A. Apportionment and Apportionment Population Based on the 1990 Census,,,,,,

1     ,,,,,,

2 States   ,Size of State,Apportionment,,United States,,

3 ,delegation,population,Resident population,population abroad,,

4 ,,,,,,

5      United States         ,435,"1 249,022,783","248,709,873","922,819",,

6 ,,,,,,

7 Alabama……………………………………..,7,"4,062,608","4,040,587","22,021",,

8 Alaska……………………………………..,1,"551,947","550,043","1,904",,

9 Arizona……………………………………..,6,"3,677,985","3,665,228","12,757",,

10 Arkansas……………………………………..,4,"2,362,239","2,350,725","11,514",,

11 California……………………………………..,52,"29,839,250","29,760,021","79,229",,

12 Colorado……………………………………..,6,"3,307,912","3,294,394","13,518",,

13 Connecticut……………………………………..,6,"3,295,669","3,287,116","8,553",,

14 Delaware……………………………………..,1,"668,696","666,168","2,528",,

15 District of Columbia……………………………………..,...,…,"606,900","3,009",,

16 Florida……………………………………..,23,"13,003,362","12,937,926","65,436",,

17 Georgia……………………………………..,11,"6,508,419","6,478,216","30,203",,

18 Hawaii……………………………………..,2,"1,115,274","1,108,229","7,045",,

19 Idaho……………………………………..,2,"1,011,986","1,006,749","5,237",,

20 Illinois……………………………………..,20,"11,466,682","11,430,602","36,080",,

21 Indiana……………………………………..,10,"5,564,228","5,544,159","20,069",,

22 Iowa……………………………………..,5,"2,787,424","2,776,755","10,669",,

23 Kansas……………………………………..,4,"2,485,600","2,477,574","8,026",,

24 Kentucky……………………………………..,6,"3,698,969","3,685,296","13,673",,

25 Louisiana……………………………………..,7,"4,238,216","4,219,973","18,243",,

26 Maine……………………………………..,2,"1,233,223","1,227,928","5,295",,

27 Maryland……………………………………..,8,"4,798,622","4,781,468","17,154",,

28 Massachusetts……………………………………..,10,"6,029,051","6,016,425","12,626",,

29 Michigan……………………………………..,16,"9,328,784","9,295,297","33,487",,

30 Minnesota……………………………………..,8,"4,387,029","4,375,099","11,930",,

31 Mississippi……………………………………..,5,"2,586,443","2,573,216","13,227",,

32 Missouri……………………………………..,9,"5,137,804","5,117,073","20,731",,

33 Montana……………………………………..,1,"803,655","799,065","4,590",,

34 Nebraska……………………………………..,3,"1,584,617","1,578,385","6,232",,

35 Nevada……………………………………..,2,"1,206,152","1,201,833","4,319",,

36 New Hampshire……………………………………..,2,"1,113,915","1,109,252","4,663",,

37 New Jersey……………………………………..,13,"7,748,634","7,730,188","18,446",,

38 New Mexico……………………………………..,3,"1,521,779","1,515,069","6,710",,

39 New York……………………………………..,31,"18,044,505","17,990,455","54,050",,

40 North Carolina……………………………………..,12,"6,657,630","6,628,637","28,993",,

41 North Dakota……………………………………..,1,"641,364","638,800","2,564",,

42 Ohio……………………………………..,19,"10,887,325","10,847,115","40,210",,

43 Oklahoma……………………………………..,6,"3,157,604","3,145,585","12,019",,

44 Oregon……………………………………..,5,"2,853,733","2,842,321","11,412",,

45 Pennsylvania……………………………………..,21,"11,924,710","11,881,643","43,067",,

46 Rhode Island……………………………………..,2,"1,005,984","1,003,464","2,520",,

47 South Carolina……………………………………..,6,"3,505,707","3,486,703","19,004",,

48 South Dakota……………………………………..,1,"699,999","696,004","3,995",,

49 Tennessee……………………………………..,9,"4,896,641","4,877,185","19,456",,

50 Texas……………………………………..,30,"17,059,805","16,986,510","73,295",,

51 Utah……………………………………..,3,"1,727,784","1,722,850","4,934",,

52 Vermont……………………………………..,1,"564,964","562,758","2,206",,

53 Virginia……………………………………..,11,"6,216,568","6,187,358","29,210",,

54 Washington……………………………………..,9,"4,887,941","4,866,692","21,249",,

55 West Virginia……………………………………..,3,"1,801,625","1,793,477","8,148",,

56 Wisconsin……………………………………..,9,"4,906,745","4,891,769","14,976",,

57 Wyoming……………………………………..,1,"455,975","453,588","2,387",,

58 ,,,,,,

59 1 The apportionment population does not include the resident or the overseas population for the District of Columbia,,,,,,

In [5]:
### lordy, that is horrid. Try with csv reader
import csv

In [37]:
with open('1990_apportionment_raw.txt', newline='') as csvfile:
    reader = csv.reader(csvfile, delimiter='\t', quotechar='|')
    #for row in reader:
    #   print(row)
    f = [x for x in reader]
        
len(f)

60

In [40]:
f[2:4]

[['States   ', 'Size of State', 'Apportionment', '', 'United States', '', ''],
 ['',
  'delegation',
  'population',
  'Resident population',
  'population abroad',
  '',
  '']]

In [7]:
(f[2][0].strip() + ' '+ f[3][0].strip()).strip()

'State'

In [31]:
f[3][1]

'delegation'

In [41]:
header_names = [(f[2][x].strip() + ' '+ f[3][x].strip()).strip() for x in range(len(f[2]))]
header_names

['States',
 'Size of State delegation',
 'Apportionment population',
 'Resident population',
 'United States population abroad',
 '',
 '']

<function <lambda> at 0x114150ae8> some string. with funny characters

In [56]:
import re
fxn = lambda x: re.sub(r'[^\x00-\x7f]',r'',x).strip('.')

In [58]:
fxn(f[7][0])

'Alabama'

In [111]:
import re
fxn = lambda x: re.sub(r'[^\x00-\x7f]',r'',x).strip('.').strip('"').upper()
g = []
with open('1990_apportionment_raw.txt', newline='') as csvfile:
    reader = csv.reader(csvfile, delimiter='\t', quotechar='|')
    for row in reader:
        g.append([fxn(x) for x in row[:5]])
    
        
len(g)

60

In [109]:
fxn(f[8][0])

'ALASKA'

In [110]:
g[8]

['ALASKA', '1', '551,947', '550,043', '1,904', '']

In [112]:
header_names = [(g[2][x].strip() + ' '+ g[3][x].strip()).strip() for x in range(len(g[2]))]

In [113]:
header_names

['STATES',
 'SIZE OF STATE DELEGATION',
 'APPORTIONMENT POPULATION',
 'RESIDENT POPULATION',
 'UNITED STATES POPULATION ABROAD']

In [114]:
g[7]

['ALABAMA', '7', '4,062,608', '4,040,587', '22,021']

In [115]:
g[57]

['WYOMING', '1', '455,975', '453,588', '2,387']

In [242]:
g1 = g[7:58]

In [243]:
g1[-1]

['WYOMING', '1', '455,975', '453,588', '2,387']

In [244]:
ca1990 = pd.DataFrame(g1, columns=header_names)

In [245]:
ca1990.head()

,STATES,SIZE OF STATE DELEGATION,APPORTIONMENT POPULATION,RESIDENT POPULATION,UNITED STATES POPULATION ABROAD
0,ALABAMA,7,"4,062,608","4,040,587","22,021"
1,ALASKA,1,"551,947","550,043","1,904"
2,ARIZONA,6,"3,677,985","3,665,228","12,757"
3,ARKANSAS,4,"2,362,239","2,350,725","11,514"
4,CALIFORNIA,52,"29,839,250","29,760,021","79,229"

In [246]:
type(ca1990['SIZE OF STATE DELEGATION'][0])

str

In [247]:
for y in ca1990.columns[1:]:
    ca1990[y] = ca1990[y].map(
        lambda x: int(x.replace(',','')) if x != '' else 0)

In [248]:
ca1990.head(15)

,STATES,SIZE OF STATE DELEGATION,APPORTIONMENT POPULATION,RESIDENT POPULATION,UNITED STATES POPULATION ABROAD
0,ALABAMA,7,4062608,4040587,22021
1,ALASKA,1,551947,550043,1904
2,ARIZONA,6,3677985,3665228,12757
3,ARKANSAS,4,2362239,2350725,11514
4,CALIFORNIA,52,29839250,29760021,79229
5,COLORADO,6,3307912,3294394,13518
6,CONNECTICUT,6,3295669,3287116,8553
7,DELAWARE,1,668696,666168,2528
8,DISTRICT OF COLUMBIA,0,0,606900,3009
9,FLORIDA,23,13003362,12937926,65436
10,GEORGIA,11,6508419,6478216,30203
11,HAWAII,2,1115274,1108229,7045
12,IDAHO,2,1011986,1006749,5237
13,ILLINOIS,20,11466682,11430602,36080
14,INDIANA,10,5564228,5544159,20069

In [249]:
###  Twenty-third Amendment gives DC 3 electoral votes 
ca1990['TOTAL ELECTORAL VOTES'] = ca1990['SIZE OF STATE DELEGATION'].map(
    lambda x: int(x)+2 if x != 0 else 3)

In [250]:
ca1990.head(10)

,STATES,SIZE OF STATE DELEGATION,APPORTIONMENT POPULATION,RESIDENT POPULATION,UNITED STATES POPULATION ABROAD,TOTAL ELECTORAL VOTES
0,ALABAMA,7,4062608,4040587,22021,9
1,ALASKA,1,551947,550043,1904,3
2,ARIZONA,6,3677985,3665228,12757,8
3,ARKANSAS,4,2362239,2350725,11514,6
4,CALIFORNIA,52,29839250,29760021,79229,54
5,COLORADO,6,3307912,3294394,13518,8
6,CONNECTICUT,6,3295669,3287116,8553,8
7,DELAWARE,1,668696,666168,2528,3
8,DISTRICT OF COLUMBIA,0,0,606900,3009,3
9,FLORIDA,23,13003362,12937926,65436,25

In [251]:
ca1990['NUMBER OF CITIZENS PER ELECTORAL VOTE'] = ca1990['APPORTIONMENT POPULATION']/ca1990['TOTAL ELECTORAL VOTES']

In [252]:
ca1990['NUMBER OF CITIZENS PER ELECTORAL VOTE'] = ca1990['NUMBER OF CITIZENS PER ELECTORAL VOTE'].map(lambda x: int(x))

In [253]:
ca1990.head(10)

,STATES,SIZE OF STATE DELEGATION,APPORTIONMENT POPULATION,RESIDENT POPULATION,UNITED STATES POPULATION ABROAD,TOTAL ELECTORAL VOTES,NUMBER OF CITIZENS PER ELECTORAL VOTE
0,ALABAMA,7,4062608,4040587,22021,9,451400
1,ALASKA,1,551947,550043,1904,3,183982
2,ARIZONA,6,3677985,3665228,12757,8,459748
3,ARKANSAS,4,2362239,2350725,11514,6,393706
4,CALIFORNIA,52,29839250,29760021,79229,54,552578
5,COLORADO,6,3307912,3294394,13518,8,413489
6,CONNECTICUT,6,3295669,3287116,8553,8,411958
7,DELAWARE,1,668696,666168,2528,3,222898
8,DISTRICT OF COLUMBIA,0,0,606900,3009,3,0
9,FLORIDA,23,13003362,12937926,65436,25,520134

In [254]:
### fix DC 
dc_res = ca1990['RESIDENT POPULATION'].ix[8] + ca1990['UNITED STATES POPULATION ABROAD'].ix[8]
ca1990['NUMBER OF CITIZENS PER ELECTORAL VOTE'].ix[8] = int(dc_res/ca1990['TOTAL ELECTORAL VOTES'].ix[8])

/Users/nicholeh/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [255]:
ca1990.head(10)

,STATES,SIZE OF STATE DELEGATION,APPORTIONMENT POPULATION,RESIDENT POPULATION,UNITED STATES POPULATION ABROAD,TOTAL ELECTORAL VOTES,NUMBER OF CITIZENS PER ELECTORAL VOTE
0,ALABAMA,7,4062608,4040587,22021,9,451400
1,ALASKA,1,551947,550043,1904,3,183982
2,ARIZONA,6,3677985,3665228,12757,8,459748
3,ARKANSAS,4,2362239,2350725,11514,6,393706
4,CALIFORNIA,52,29839250,29760021,79229,54,552578
5,COLORADO,6,3307912,3294394,13518,8,413489
6,CONNECTICUT,6,3295669,3287116,8553,8,411958
7,DELAWARE,1,668696,666168,2528,3,222898
8,DISTRICT OF COLUMBIA,0,0,606900,3009,3,203303
9,FLORIDA,23,13003362,12937926,65436,25,520134

In [256]:
total_res = dc[3] + dc[4]

In [257]:
dc[2]

0

In [258]:
ca1990.to_csv('1990_apportionment_cleaned.tsv', sep = '\t', index=False)

In [3]:
# 2000 data
import csv
with open('2000_apportionment_raw.txt', newline='') as csvfile:
    reader = csv.reader(csvfile, delimiter='\t', quotechar='|')
    #for row in reader:
    #   print(row)
    f = [x for x in reader]

In [5]:
f[:5]

[['"Table 1.  Apportionment Population and Number of Representatives, by State:  Census 2000"',
  '',
  '',
  '',
  '',
  ''],
 [' ', '', '', '', '', ''],
 [' State',
  'Apportionment Population',
  'Number of Apportioned Representatives Based on Census 2000',
  'Change From 1990 Census Apportionment',
  '',
  ''],
 ['', '', '', '', '', ''],
 ['', '', '', '', '', '']]

In [6]:
f[6]

['    Alabama', '"4,461,130"', '7', '0', '', '']

In [8]:
header_names = [(f[2][x].strip() + ' '+ f[3][x].strip()).strip() for x in range(len(f[2]))]
header_names

['State',
 'Apportionment Population',
 'Number of Apportioned Representatives Based on Census 2000',
 'Change From 1990 Census Apportionment',
 '',
 '']

In [12]:
import re
fxn = lambda x: re.sub(r'[^\x00-\x7f]',r'',x).strip('.').strip('"').upper()
g = []
with open('2000_apportionment_raw.txt', newline='') as csvfile:
    reader = csv.reader(csvfile, delimiter='\t', quotechar='|')
    for row in reader:
        g.append([fxn(x) for x in row[:4]])
    
        
len(g)

68

In [14]:
g[:10
]

[['TABLE 1.  APPORTIONMENT POPULATION AND NUMBER OF REPRESENTATIVES, BY STATE:  CENSUS 2000',
  '',
  '',
  ''],
 [' ', '', '', ''],
 [' STATE',
  'APPORTIONMENT POPULATION',
  'NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000',
  'CHANGE FROM 1990 CENSUS APPORTIONMENT'],
 ['', '', '', ''],
 ['', '', '', ''],
 ['', '', '', ''],
 ['    ALABAMA', '4,461,130', '7', '0'],
 ['    ALASKA', '628,933', '1', '0'],
 ['    ARIZONA', '5,140,683', '8', '+2'],
 ['    ARKANSAS', '2,679,733', '4', '0']]

In [15]:
header_names = [(g[2][x].strip() + ' '+ g[3][x].strip()).strip() for x in range(len(g[2]))]

In [16]:
header_names

['STATE',
 'APPORTIONMENT POPULATION',
 'NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000',
 'CHANGE FROM 1990 CENSUS APPORTIONMENT']

In [26]:
ca2000 = pd.DataFrame(g[6:56], columns=header_names)

In [27]:
ca2000.tail()

,STATE,APPORTIONMENT POPULATION,NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000,CHANGE FROM 1990 CENSUS APPORTIONMENT
45,VIRGINIA,"7,100,702",11,0
46,WASHINGTON,"5,908,684",9,0
47,WEST VIRGINIA,"1,813,077",3,0
48,WISCONSIN,"5,371,210",8,-1
49,WYOMING,"495,304",1,0

In [28]:
ca2000.head(10)

,STATE,APPORTIONMENT POPULATION,NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000,CHANGE FROM 1990 CENSUS APPORTIONMENT
0,ALABAMA,"4,461,130",7,0
1,ALASKA,"628,933",1,0
2,ARIZONA,"5,140,683",8,+2
3,ARKANSAS,"2,679,733",4,0
4,CALIFORNIA,"33,930,798",53,+1
5,COLORADO,"4,311,882",7,+1
6,CONNECTICUT,"3,409,535",5,-1
7,DELAWARE,"785,068",1,0
8,FLORIDA,"16,028,890",25,+2
9,GEORGIA,"8,206,975",13,+2

In [29]:
type(ca2000['NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000'][5])

str

In [30]:
ca2000['NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000'] = ca2000['NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000'].map(lambda x: int(x))

In [31]:
type(ca2000['NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000'][5])

numpy.int64

In [32]:
ca2000.head(10)

,STATE,APPORTIONMENT POPULATION,NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000,CHANGE FROM 1990 CENSUS APPORTIONMENT
0,ALABAMA,"4,461,130",7,0
1,ALASKA,"628,933",1,0
2,ARIZONA,"5,140,683",8,+2
3,ARKANSAS,"2,679,733",4,0
4,CALIFORNIA,"33,930,798",53,+1
5,COLORADO,"4,311,882",7,+1
6,CONNECTICUT,"3,409,535",5,-1
7,DELAWARE,"785,068",1,0
8,FLORIDA,"16,028,890",25,+2
9,GEORGIA,"8,206,975",13,+2

In [33]:
ca2000['APPORTIONMENT POPULATION'] = ca2000['APPORTIONMENT POPULATION'].map(
        lambda x: int(x.replace(',','')) if x != '' else 0)

In [34]:
ca2000.head(10)

,STATE,APPORTIONMENT POPULATION,NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000,CHANGE FROM 1990 CENSUS APPORTIONMENT
0,ALABAMA,4461130,7,0
1,ALASKA,628933,1,0
2,ARIZONA,5140683,8,+2
3,ARKANSAS,2679733,4,0
4,CALIFORNIA,33930798,53,+1
5,COLORADO,4311882,7,+1
6,CONNECTICUT,3409535,5,-1
7,DELAWARE,785068,1,0
8,FLORIDA,16028890,25,+2
9,GEORGIA,8206975,13,+2

In [35]:
ca2000['TOTAL ELECTORAL VOTES'] = ca2000['NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000'] + 2

In [36]:
ca2000.head(10)

,STATE,APPORTIONMENT POPULATION,NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000,CHANGE FROM 1990 CENSUS APPORTIONMENT,TOTAL ELECTORAL VOTES
0,ALABAMA,4461130,7,0,9
1,ALASKA,628933,1,0,3
2,ARIZONA,5140683,8,+2,10
3,ARKANSAS,2679733,4,0,6
4,CALIFORNIA,33930798,53,+1,55
5,COLORADO,4311882,7,+1,9
6,CONNECTICUT,3409535,5,-1,7
7,DELAWARE,785068,1,0,3
8,FLORIDA,16028890,25,+2,27
9,GEORGIA,8206975,13,+2,15

In [42]:
ca2000['NUMBER OF CITIZENS PER ELECTORAL VOTE'] =  ca2000['APPORTIONMENT POPULATION']/ca2000['TOTAL ELECTORAL VOTES']

In [44]:
ca2000['NUMBER OF CITIZENS PER ELECTORAL VOTE'] = ca2000['NUMBER OF CITIZENS PER ELECTORAL VOTE'].map(lambda x: int(x))

In [45]:
ca2000.head(10)

,STATE,APPORTIONMENT POPULATION,NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000,CHANGE FROM 1990 CENSUS APPORTIONMENT,TOTAL ELECTORAL VOTES,NUMBER OF CITIZENS PER ELECTORAL VOTE
0,ALABAMA,4461130,7,0,9,495681
1,ALASKA,628933,1,0,3,209644
2,ARIZONA,5140683,8,+2,10,514068
3,ARKANSAS,2679733,4,0,6,446622
4,CALIFORNIA,33930798,53,+1,55,616923
5,COLORADO,4311882,7,+1,9,479098
6,CONNECTICUT,3409535,5,-1,7,487076
7,DELAWARE,785068,1,0,3,261689
8,FLORIDA,16028890,25,+2,27,593662
9,GEORGIA,8206975,13,+2,15,547131

In [46]:
ca2000.to_csv('2000_apportionment_cleaned.tsv', sep = '\t', index=False)

In [47]:
c2_cleaned = pd.read_csv('2000_apportionment_cleaned.tsv', sep = '\t')

In [49]:
c2_cleaned.head(10)

,STATE,APPORTIONMENT POPULATION,NUMBER OF APPORTIONED REPRESENTATIVES BASED ON CENSUS 2000,CHANGE FROM 1990 CENSUS APPORTIONMENT,TOTAL ELECTORAL VOTES,NUMBER OF CITIZENS PER ELECTORAL VOTE
0,ALABAMA,4461130,7,0,9,495681
1,ALASKA,628933,1,0,3,209644
2,ARIZONA,5140683,8,2,10,514068
3,ARKANSAS,2679733,4,0,6,446622
4,CALIFORNIA,33930798,53,1,55,616923
5,COLORADO,4311882,7,1,9,479098
6,CONNECTICUT,3409535,5,-1,7,487076
7,DELAWARE,785068,1,0,3,261689
8,FLORIDA,16028890,25,2,27,593662
9,GEORGIA,8206975,13,2,15,547131

In [77]:
import re
fxn = lambda x: re.sub(r'[^\x00-\x7f]',r'',x).strip('.').strip('"').upper()
g = []
with open('2010_apportionment_raw.txt', newline='') as csvfile:
    reader = csv.reader(csvfile, delimiter='\t', quotechar='|')
    for row in reader:
        g.append([fxn(x) for x in row[:6]])
    
        
len(g)

67

In [78]:
g[:10]

[['U.S. DEPARTMENT OF COMMERCE', '', '', '', '', ''],
 ['U.S. CENSUS BUREAU', '', '', '', '', ''],
 ['', '', '', '', '', ''],
 ['TABLE 1. APPORTIONMENT POPULATION AND NUMBER OF REPRESENTATIVES, BY STATE:  2010 CENSUS',
  '',
  '',
  '',
  '',
  ''],
 ['', '', '', '', '', ''],
 ['', '', '', 'NUMBER OF APPORTIONED', '', ''],
 ['', 'APPORTIONMENT', '', 'REPRESENTATIVES', '', 'CHANGE IN SEATS'],
 ['', 'POPULATION', '', 'BASED ON', '', 'FROM CENSUS 2000'],
 ['STATE', '(APRIL 1, 2010)', '', '2010 CENSUS', '', 'APPORTIONMENT'],
 ['', '', '', '', '', '']]

In [79]:
header_names = [(g[5][x] + ' '+ g[6][x].strip() + 
                ' '+ g[7][x].strip() + ' ' + g[8][x].strip()).strip() for x in range(len(g[5]))]

In [80]:
header_names

['STATE',
 'APPORTIONMENT POPULATION (APRIL 1, 2010)',
 '',
 'NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS',
 '',
 'CHANGE IN SEATS FROM CENSUS 2000 APPORTIONMENT']

In [82]:
g[11]

['ALABAMA', '4,802,982', '', '7', '', '0']

In [84]:
ca2010 = pd.DataFrame(g[11:11+50], columns=header_names)

In [87]:
ca2010.tail(10)

,STATE,"APPORTIONMENT POPULATION (APRIL 1, 2010)",,NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS,,CHANGE IN SEATS FROM CENSUS 2000 APPORTIONMENT
40,SOUTH DAKOTA,"819,761",,1,,0
41,TENNESSEE,"6,375,431",,9,,0
42,TEXAS,"25,268,418",,36,,+4
43,UTAH,"2,770,765",,4,,+1
44,VERMONT,"630,337",,1,,0
45,VIRGINIA,"8,037,736",,11,,0
46,WASHINGTON,"6,753,369",,10,,+1
47,WEST VIRGINIA,"1,859,815",,3,,0
48,WISCONSIN,"5,698,230",,8,,0
49,WYOMING,"568,300",,1,,0

In [88]:
ca2010 = ca2010[['STATE', 'APPORTIONMENT POPULATION (APRIL 1, 2010)',
                'NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS', 
                'CHANGE IN SEATS FROM CENSUS 2000 APPORTIONMENT']]

In [89]:
ca2010

,STATE,"APPORTIONMENT POPULATION (APRIL 1, 2010)",NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS,CHANGE IN SEATS FROM CENSUS 2000 APPORTIONMENT
0,ALABAMA,"4,802,982",7,0
1,ALASKA,"721,523",1,0
2,ARIZONA,"6,412,700",9,+1
3,ARKANSAS,"2,926,229",4,0
4,CALIFORNIA,"37,341,989",53,0
5,COLORADO,"5,044,930",7,0
6,CONNECTICUT,"3,581,628",5,0
7,DELAWARE,"900,877",1,0
8,FLORIDA,"18,900,773",27,+2
9,GEORGIA,"9,727,566",14,+1
10,HAWAII,"1,366,862",2,0
11,IDAHO,"1,573,499",2,0
12,ILLINOIS,"12,864,380",18,-1
13,INDIANA,"6,501,582",9,0
14,IOWA,"3,053,787",4,-1
15,KANSAS,"2,863,813",4,0
16,KENTUCKY,"4,350,606",6,0
17,LOUISIANA,"4,553,962",6,-1
18,MAINE,"1,333,074",2,0
19,MARYLAND,"5,789,929",8,0
20,MASSACHUSETTS,"6,559,644",9,-1
21,MICHIGAN,"9,911,626",14,-1
22,MINNESOTA,"5,314,879",8,0
23,MISSISSIPPI,"2,978,240",4,0
24,MISSOURI,"6,011,478",8,-1
25,MONTANA,"994,416",1,0
26,NEBRASKA,"1,831,825",3,0
27,NEVADA,"2,709,432",4,+1
28,NEW HAMPSHIRE,"1,321,445",2,0
29,NEW JERSEY,"8,807,501",12,-1
30,NEW MEXICO,"2,067,273",3,0
31,NEW YORK,"19,421,055",27,-2
32,NORTH CAROLINA,"9,565,781",13,0
33,NORTH DAKOTA,"675,905",1,0
34,OHIO,"11,568,495",16,-2
35,OKLAHOMA,"3,764,882",5,0
36,OREGON,"3,848,606",5,0
37,PENNSYLVANIA,"12,734,905",18,-1
38,RHODE ISLAND,"1,055,247",2,0
39,SOUTH CAROLINA,"4,645,975",7,+1
40,SOUTH DAKOTA,"819,761",1,0
41,TENNESSEE,"6,375,431",9,0
42,TEXAS,"25,268,418",36,+4
43,UTAH,"2,770,765",4,+1
44,VERMONT,"630,337",1,0
45,VIRGINIA,"8,037,736",11,0
46,WASHINGTON,"6,753,369",10,+1
47,WEST VIRGINIA,"1,859,815",3,0
48,WISCONSIN,"5,698,230",8,0
49,WYOMING,"568,300",1,0

In [93]:
ca2010['APPORTIONMENT POPULATION (APRIL 1, 2010)'] = ca2010['APPORTIONMENT POPULATION (APRIL 1, 2010)'].map(
        lambda x: int(x.replace(',','')) if x != '' else 0)

In [94]:
ca2010.head(10)

,STATE,"APPORTIONMENT POPULATION (APRIL 1, 2010)",NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS,CHANGE IN SEATS FROM CENSUS 2000 APPORTIONMENT
0,ALABAMA,4802982,7,0
1,ALASKA,721523,1,0
2,ARIZONA,6412700,9,+1
3,ARKANSAS,2926229,4,0
4,CALIFORNIA,37341989,53,0
5,COLORADO,5044930,7,0
6,CONNECTICUT,3581628,5,0
7,DELAWARE,900877,1,0
8,FLORIDA,18900773,27,+2
9,GEORGIA,9727566,14,+1

In [96]:
type(ca2010['NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS'][3])

str

In [97]:
ca2010['NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS'] = ca2010['NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS'].map(
        lambda x: int(x.replace(',','')) if x != '' else 0)

In [98]:
type(ca2010['NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS'][3])

numpy.int64

In [99]:
ca2010.head(10)

,STATE,"APPORTIONMENT POPULATION (APRIL 1, 2010)",NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS,CHANGE IN SEATS FROM CENSUS 2000 APPORTIONMENT
0,ALABAMA,4802982,7,0
1,ALASKA,721523,1,0
2,ARIZONA,6412700,9,+1
3,ARKANSAS,2926229,4,0
4,CALIFORNIA,37341989,53,0
5,COLORADO,5044930,7,0
6,CONNECTICUT,3581628,5,0
7,DELAWARE,900877,1,0
8,FLORIDA,18900773,27,+2
9,GEORGIA,9727566,14,+1

In [100]:
ca2010['TOTAL ELECTORAL VOTES'] = ca2010['NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS'] + 2

In [102]:
ca2010.head(10)

,STATE,"APPORTIONMENT POPULATION (APRIL 1, 2010)",NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS,CHANGE IN SEATS FROM CENSUS 2000 APPORTIONMENT,TOTAL ELECTORAL VOTES
0,ALABAMA,4802982,7,0,9
1,ALASKA,721523,1,0,3
2,ARIZONA,6412700,9,+1,11
3,ARKANSAS,2926229,4,0,6
4,CALIFORNIA,37341989,53,0,55
5,COLORADO,5044930,7,0,9
6,CONNECTICUT,3581628,5,0,7
7,DELAWARE,900877,1,0,3
8,FLORIDA,18900773,27,+2,29
9,GEORGIA,9727566,14,+1,16

In [103]:
ca2010['NUMBER OF CITIZENS PER ELECTORAL VOTE'] =  ca2010['APPORTIONMENT POPULATION (APRIL 1, 2010)']/ca2010['TOTAL ELECTORAL VOTES']

In [104]:
ca2010.head(10)

,STATE,"APPORTIONMENT POPULATION (APRIL 1, 2010)",NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS,CHANGE IN SEATS FROM CENSUS 2000 APPORTIONMENT,TOTAL ELECTORAL VOTES,NUMBER OF CITIZENS PER ELECTORAL VOTE
0,ALABAMA,4802982,7,0,9,533664.666667
1,ALASKA,721523,1,0,3,240507.666667
2,ARIZONA,6412700,9,+1,11,582972.727273
3,ARKANSAS,2926229,4,0,6,487704.833333
4,CALIFORNIA,37341989,53,0,55,678945.254545
5,COLORADO,5044930,7,0,9,560547.777778
6,CONNECTICUT,3581628,5,0,7,511661.142857
7,DELAWARE,900877,1,0,3,300292.333333
8,FLORIDA,18900773,27,+2,29,651750.793103
9,GEORGIA,9727566,14,+1,16,607972.875000

In [105]:
ca2010['NUMBER OF CITIZENS PER ELECTORAL VOTE'] = ca2010['NUMBER OF CITIZENS PER ELECTORAL VOTE'].map(lambda x: int(x))

In [106]:
ca2010.head(10)

,STATE,"APPORTIONMENT POPULATION (APRIL 1, 2010)",NUMBER OF APPORTIONED REPRESENTATIVES BASED ON 2010 CENSUS,CHANGE IN SEATS FROM CENSUS 2000 APPORTIONMENT,TOTAL ELECTORAL VOTES,NUMBER OF CITIZENS PER ELECTORAL VOTE
0,ALABAMA,4802982,7,0,9,533664
1,ALASKA,721523,1,0,3,240507
2,ARIZONA,6412700,9,+1,11,582972
3,ARKANSAS,2926229,4,0,6,487704
4,CALIFORNIA,37341989,53,0,55,678945
5,COLORADO,5044930,7,0,9,560547
6,CONNECTICUT,3581628,5,0,7,511661
7,DELAWARE,900877,1,0,3,300292
8,FLORIDA,18900773,27,+2,29,651750
9,GEORGIA,9727566,14,+1,16,607972

In [107]:
ca2010.to_csv('2010_apportionment_cleaned.tsv', sep = '\t', index=False)